<div class="container">
  <div class="main-content">
    <h1>The Most Popular Theme of All Time</h1>
    <p>Non-profit charitable organization that distributes food to those in need</p>
    <button><a routerLink="/register" style="text-decoration: none;">Let's start</a></button>
  </div>

  <div class="image-container">
    <img src="/assets/img/donor2.jpg" alt="Image 1" class="img1">
    <img src="/assets/img/donor3.jpg" alt="Image 2" class="img2">
    <img src="/assets/img/donor1.jpg" alt="Image 3" class="img3">
    <img src="/assets/img/donor5.jpg" alt="Image 4" class="img4">
    <img src="/assets/img/donor4.jpg" alt="Image 5" class="img5">
  </div>
</div>