<p class="p1">FOOD</p>
<p class="p2">DONATION</p>
<p class="p3">Donated food, when carefully selected, can provide essential nutrients that may be missing from the diets of those in need.Building a supportive community: Food donation fosters a sense of community.</p>

<div class="img">
<div class="gallery">
    <img src="/assets/img/food.jpg" alt="a hot air balloon">
    <img src="/assets/img/home1.jpg" alt="a sky photo of an old city">
    <img src="/assets/img/main.jpg" alt="a small boat">
    <img src="/assets/img/donate1.jpg" alt="a forest">
  </div></div>
<a routerLink="/aboutus" class="view">View more</a>


