<h2 style="position: absolute;left:550px;top:90px;"><b>FOOD FOR ALL FOUNDATIONS</b></h2>

<div class="video-container">
    <video autoplay loop muted>
      <source src="assets/img/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  
  <p class="p1">Food donation is a crucial part of helping vulnerable communities and needy people in a world where hunger and food insecurity still exist. Giving people their basic needs extends beyond just satisfying their bellies; it sustains lives, encourages optimism, and has a positive effect on society.</p>
  <div class="video-container1">
    <video autoplay loop muted>
      <source src="assets/img/video1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>