
<div class="container">
  <img src="/assets/img/mouni1.png" alt="Dummy Image">
  <h1>Hello, Welcome</h1>
  <h2>I'm Pulagorla Mounica</h2>
  <p>
    The Head of Food for All Foundation, where I lead our dedicated team in the mission to combat food insecurity and build a more equitable community
  </p>
  <button (click)="contact()">ContactUs</button>
</div>
<div class="matter">
<p class="p1"> My role encompasses overseeing all facets of our operations, from strategic planning to day-to-day management, with a keen focus on maximizing our impact.</p>
<p class="p2">At Food for All Foundation, I collaborate closely with our team, volunteers, and partners to coordinate food donations, manage distribution programs, and develop innovative strategies for outreach and engagement</p>
<p class="p3">!am responsible for..</p>
<p class="p4"><b>-> Strategic Planning and Implementation:</b> Developing and executing long-term plans to enhance our mission, ensuring that we adapt and respond to changing needs and challenges in the community.</p>
<p class="p5"><b>->Team Leadership and Management:</b> Leading a diverse team of staff and volunteers, fostering a collaborative and supportive environment, and ensuring that everyone is aligned with our goals and values.</p>
<p class="p6"><b>->Partnership Development: </b>bBuilding and nurturing relationships with donors, community organizations, and other stakeholders to expand our network and resources.</p>
<p class="p7"><b>My Team Members</b></p>
<p class="p8">My commitment is to ensure that Food for All Foundation not only provides immediate relief to those in need but also works towards long-term solutions to end hunger and promote food security for all.</p>
<img src="/assets/img/rama1.png" class="p9">
<img src="/assets/img/abhi.png" class="p10">
<p class="p11"><b>Ramadevi</b></p>
<p class="p12"><b>Abhinayashri</b></p>
<p class="p13">91-9998877665</p>
<p class="p14">91-8876543211</p>
<p class="p15">For more Information please contactUs</p>
<button (click)="contact()" class="p16">ContactUs</button>
</div>