<div>

  <div class="book">
    <p>------FOOD DONATION-------Donated food, when carefully selected, can provide essential nutrients that may be missing from the diets of those in need. Thoughtfully donating food to the poor can even contribute to improved physical and mental health. Building a supportive community: Food donation fosters a sense of community.</p>
    <div class="cover">
        
        <p></p>
    </div>
   </div>
   <div class="book1">
    <p>If you can't feed<br> hundred people,<br>then just feed <br>one ,through our<br> website</p>
    <div class="cover1">
        
        <p></p>
    </div>
   </div>

   <div class="book2">
    <p>Volunteers are vital to ensuring that food banks keep warehouses open and trucks on the road, and they ensure that nutritious food reaches those facing hunger in their communities. The logistics of managing and operating a food bank can be complex</p>
    <div class="cover2">
        
        <p></p>
    </div>
   </div>
   <div class="top">
    <p>FOOD DONATION CONNECTION</p></div>
    <div class="mid">
          <p>LET NOTHING BE WASTED</p>
    </div>
    
    <div class="bottom">
    <p>Since 1992, Food Donation Connection has assisted food service companies with the development and implementation of Harvest Programs designed to provide an alternative to discarding surplus food.
      © 2018 Food Donation Connection.
      </p>
   </div>
   <div class="a">
    WHAT WE DO
  </div>
  <div class="b">
    <p>Food Donation Connection manages food donation programs for food service companies interested in donating food. The donating process is based on donors receiving economic benefit through tax savings in addition to involvement with community and corporate goodwill. See how one HMS Host team at Tampa International Airport used their surplus food to feed over 100,000. 
    </p>
  </div>
  <div class="c">
    <p>Food Donation Connection currently coordinates Harvest Programs for Pizza Hut, KFC, Taco Bell, Whole Foods, NPC International, Olive Garden, Red Lobster, LongHorn Steakhouse, The Capital Grille, Bahama Breeze, Seasons 52, Grand Lux Café, Chipotle Mexican Grill, Famous Dave's, Auntie Anne's, Cracker Barrel, Chick-fil-A, Einstein Bros Bagles, Wawa, Outback Steakhouse, Bonefish Grill, and Fleming's Prime Steakhouse. We have several other major restaurant chains currently in the development stage of forming Harvest Programs.

    </p>
  </div>

</div>
<img src="/assets/img/Screenshot 2024-07-17 141805.png" class="img1">

<button class="button" data-text="Awesome">
  <span class="actual-text">&nbsp;We're not getting younger. Today let's fight hunger!&nbsp;</span>
  <span aria-hidden="true" class="hover-text">&nbsp;We're not getting younger. Today let's fight hunger!&nbsp;</span>
</button>